.content {
    font-family: "EB Garamond", serif;
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    width: 80%;
}

.dualImages {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}